@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.header{

  /*margin-inline: 13px;*/
  /*height: 50px;*/
  padding: 10px;
  padding-top:10px;
  padding-inline: 15px;
  /*background: #000;*/
  display: flex;

}

.logo{
  font-family: "Londrina Shadow", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: #ffffff;
  align-items: center;
  /*white-space: nowrap;*/

}

.page {
  background-color: #10121f;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.main-layout {
  width: 100%;
  max-width: 780px;
  background-color: #10121f;
  display: flex;
  flex-direction: column;
}

.card {
  background-color: #161a26;
  border: 2px solid #434861;
  border-radius: 10px;
  height: fit-content;
  padding: 20px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  color: white;
  margin: 10px;
  box-sizing: border-box;
}

.sequence-input-label {
  margin-bottom: 5px;
}

.sequence-input-textarea {
  border-radius: 5px;
  min-height: 100px;
  max-height: 100px;
  width: 100%;
  resize: none;
  background-color: #141623;
  border: 1px solid #434861;
  color: white;
  padding: 10px;
  box-sizing: border-box;
}

.sequence-input-textarea::placeholder {
  font-style: italic;
}

.sequence-actions {
  margin-top: 10px;
  align-self: flex-end;
}

.sequence-actions button {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #18d5d5;
  background-color: #161a26;
  color: #18d5d5;
  margin-inline: 3px;
  font-size: 10px;
  cursor: pointer;
}

.results-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: transparent;
  width: 100%;
}

.results-left-col {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  min-width: 0;
  background-color: transparent;
  border: none;
}

.sequence-type-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
}

.complement-card {
  width: auto;
  height: fit-content;
}

.complement-sequence,
.codons-list,
.protein-sequence {
  word-break: break-all;
  max-height: 100px;
  background-color: #141623;
  padding: 10px;
  overflow: auto;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #434861;
}

.bar-chart {
  background-color: #141623;
  border-radius: 5px;
  border: 1px solid #434861;
}

.codon-and-amino-card {
  min-height: 40px;
  display: flex;
  flex-direction: column;
}

.codon-and-amino-lengths {
  display: flex;
  flex-direction: column;
  padding: 0px;
  border-bottom: 1px solid #434861;
}

.codon-and-amino-lengths div {
  padding-right: 10px;
  padding: 10px;
  border-bottom: 1px solid #434861;
}

.codon-and-amino-lengths div:last-child {
  border-bottom: none;
}

.codons-list {
  padding: 10px;
}

.nucleotide-stats-card {
  width: 380px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proteins-data-card {
  width: 380px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.nucleotide-stats-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.sequence-length {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding-block: 10px;
}

.base-counts {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-block: 1px solid #434861;
  padding: 10px;
}

.gc-content-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
}

.donutchart-innertext {
  fill: white;
}

.weighty-blue {
  color: #18d5d5;
}

.table-wrapper {
  width: 100%;
  margin-top: 10px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  border: 1px solid #434861;
}

.table-header-row {
  display: flex;
  flex-direction: row;
  padding: 6px 10px;
  border-bottom: 1px solid #434861;
}

.table-header {
  flex: 1;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #8890aa;
  text-align: left;
}

.table-contents {
  max-height: 150px;
  background-color: #141623;
  overflow-y: auto;
}

.unique-codon-list-contents {
  max-height: 195px;
}

.table-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #1f2333;
  transition: background 0.12s ease;
}

.table-row:last-child {
  border-bottom: none;
}

.table-row:hover {
  background: #1a1e2e;
}

.table-cell {
  flex: 1;
  padding: 5px 10px;
}

.table-cell-base {
  color: #c8d0e8;
}

.table-cell-count {
  color: #18d5d5;
}

.error-card{
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: #f8bdbd;
  color: #d11010;
  border-color: #d11010;
}

.error-card div {
  padding-left: 5px;
}



@media (max-width: 780px) {
  .page {
    padding: 10px;
  }

  .main-layout {
    max-width: 100%;
  }

  .results-row {
    flex-direction: column;
  }

  .results-left-col {
    width: 100%;
    flex: unset;
  }

  .nucleotide-stats-card,
  .proteins-data-card {
    width: 97%;
    flex-shrink: unset;
  }

  .results-right-col{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }


}




@media (max-width: 480px) {
  .page {
    padding: 6px;
  }

  .logo {
    font-size: 36px;
  }

  .card {
    margin: 6px;
    padding: 14px;
  }

  .sequence-type-card {
    flex-direction: column;
    gap: 8px;
  }

  .base-counts {
    flex-wrap: wrap;
    gap: 8px;
  }

  .sequence-actions {
    align-self: stretch;
  }

  .sequence-actions button {
    width: 100%;
    margin-inline: 0;
    margin-bottom: 6px;
    font-size: 12px;
    padding: 8px;
  }
}